* {
    margin: 0;
    padding: 0;
}
body {
    background: #ccc;
    height: 200vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 1400px;
    width: 100%;
    border: 1px red solid;
    position: relative;
    margin: 0 auto;
}

.nav {
    border: 1px solid #fefefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 1400px;
    width: 100%;
    position: fixed;

    &__logo {
    }

    &__menu {
        ul {
            display: flex;
            li {
                list-style: none;
                color: #fff;
            }
        }
    }
}

.intro {
    background: url(/src/img/intro.png) no-repeat center;
    height: 100vh;

    display: flex;
    align-items: center;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__up {
            display: flex;
            align-self: start;
            // flex-direction: column;
            margin-bottom: 100px;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
    }
}
